#wplc_user_answer {
    width: 100%;
    height: 28px !important;
    position: relative;
    top: 7px;
    font-size: 15px;
    border-radius: 4px;
    font-weight: 800;
    color: #666;
}
#wplc_comment_user_answer{
    width: 110px;
}